@value makerBlack, makerGreen, makerWhite, makerLightPink, makerPink from '../../common/color.module.css';

.imageInput {
  background-color: makerPink;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
  font-weight: bold;
  color: makerBlack;
  cursor: pointer;
}

.imageInput:hover {
  background-color: makerLightPink;
  border: none;
}
